*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
img{
    vertical-align: middle;
}
li{
    list-style: none;
}

/*navbar part start  */

.nav_main{
    background-color: #1C1E53 !important;
}
.nav_main ul li a{
    color: aliceblue !important;
    margin: 0 16px !important;
}

.nav_button{
    border: 1px solid #F4F6FC !important;
    padding: 16px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav_button:hover{
    background-color:  #FCD980;
    color: #1C1E53;
}



/* navbar part end */

/* privacy part start */
#privacy{
    padding: 100px 0;
}

.privacy_head h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}
.privacy_head p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
.sed h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
}
.sed p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

.privacy_list li{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    list-style: disc;
}

/* parivacy part  end */



/* footer part start */
#footer{
    background-color: #1C1E53 !important;
    padding-top:100px ;
}

.logo_part p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.lets_part h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
}

.lets_part p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.footer_fast_icon i{
    color: #F4F6FC !important;
}


.footer_email_part{
    background-color: #FCD980;
}

.footer_last{
    background-color: #ffffff;
    padding: 20px 0;
    
}
.footer_last ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color:#282938;
    margin: 10px 5px !important;
}
.com h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color:#282938;
}

/* footer part end */






/* responsive part start */

@media(max-width:767px){
    /* navbar part start */

    .nav_main i{
     color: #ffffff;
 }
 .navbar-toggler {
     border:2px solid #ffffff !important;

 }
 /* navbar part end */

}

@media(max-width:575px){

    /* privacy part start */

    #privacy {
        padding: 50px 0;
    }
    .privacy_head p {
        font-size: 18px;
    }
    .sed h3 {
        text-align: center;
        font-size: 42px;
        line-height: 60px;
    }
    .sed p {
        font-size: 17px;
        line-height: 24px;
    }
    /* privacy part end */
    
    /* footer part start */

    .footer_last ul li a {
        font-size: 15px;
        margin: 10px -4px !important;
    }
    /* footer part end */

}

@media(min-width:576px) and (max-width:767px){




    /* footer part start */

    #footer {
        padding-top: 50px;
    }
    .lets_part h3 {
        font-size: 45px;
        line-height: 43px;
    }
    .lets_part p {
        font-size: 15px;
        line-height: 23px;
    }
    /* footer part end */


}



@media(min-width:768px) and (max-width:991.98px){

    /* navbar part start */
    .nav_main ul li a {
        margin: 0 3px !important;
    }
    .nav_button {
        padding: 9px 15px;
    }
    /* navbar part end */




    /* footer part start */
    .footer_last ul li a {
        margin: 10px -2px !important;
    }

    .com h4 {
        font-size: 14px;
        line-height: 28px;
    }
    /* footer part end */






}



/* responsive part end */

